cn2an
cpca
excel2img
Flask
flask_cors
natsort
numpy
onnxruntime
opencv_python
openpyxl
oracledb
paramiko
Pillow
psutil
py7zr
pygame
pymysql
pypinyin
python_dateutil
python_docx
python_magic
pywin32
rarfile
Requests
screeninfo
selenium
webdriver_manager
Werkzeug
xlrd==1.2.0

# 需要忽略的依赖
docx
fitz
magic
win32gui
