cn2an
cpca
excel2img
Flask
Flask-Cors
natsort
numpy
onnxruntime
opencv-python
openpyxl
oracledb
paramiko
pillow
psutil
py7zr
PyAutoGUI
pygame
PyMuPDF==1.18.19
PyMySQL
pyperclip
pypinyin
python-dateutil
python-docx
python-magic-bin
pywin32
rarfile
requests
rsa
screeninfo
selenium
webdriver-manager==4.0.1
xlrd==1.2.0

# 需要忽略的依赖
docx
fitz
magic
pathlib
werkzeug
win32gui
