cn2an
excel2img
natsort
numpy
opencv-python
openpyxl
Pillow
psutil
py7zr
pypinyin
python-dateutil
python-docx
python-magic-bin
pywin32
rarfile
requests
xlrd==1.2.0

# 需要忽略的依赖
docx
fitz
magic
win32gui
